.checkin-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
}

.overlay {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.options {
    position: absolute;
}

.bottom-left {
    bottom: 1em;
    left: 1em;
}

.bottom-right {
    bottom: 1em;
    right: 1em;
}

.options select {
    background: rgba(0.1,0.1,0.1,0.5);
    width: auto;
}
